<% if !user_signed_in? %>
  <li><a href=<%=new_user_session_path%>><i class='fa fa-sign-in fa-lg'></i>&nbsp; Sign In</a></li>
<% else %>
<style>
  .nav_item_active {
    border-bottom: 4px solid #483d8b;
  }
</style>
 

  <li class='dropdown'>
    <a href='#' data-target='#' data-toggle='dropdown', class='dropdown-toggle'><i class='fa fa-users fa-lg'></i>&nbsp;<i class='fa fa-angle-down'></i></a>
    <ul class='dropdown-menu'>
      <li><a href='#'>BBB</a></li>
      <li class='divider'></li>
      <li><a href='#'>CCC</a></li> 
    </ul>
  </li>


  <li class="log-out"><%= link_to raw('<i data-toggle="tooltip" data-placement="bottom" data-original-title="Logout" class="fa fa-sign-out fa-lg"></i>'), destroy_user_session_path, data:{method: :delete}, :class => "icon-only" %></li>
<% end %>

